body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tan;
    border: 2px solic khaki;
    background-color: steelblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}